body{
    padding: 0px;
    margin: 0px;
    font-family: Bai Jamjuree;
}
html{
    box-sizing: border-box;
}
main {
    min-height: calc(100vh - 250px);
    margin-top: 15%;
}
/*-----------------------------------Header-----------------------------*/
header{
    height: 200px;
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
}
#header-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
   
}
.header-button button{
    height: 40px;
    border-radius: 20px;
    border: 1px solid ;
    color: white;
    cursor: pointer;
}
/*------------------------------------main-wrapper----------------------------------*/
#main-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    
}
#img-wrapper{
    width: 100%;
    display: flex;
    margin-top: 5%;
}

.main-img{
    background-image:url(images/image-computer.png); 
    width: 800px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -2%;
}
.text-wrapper{
    width: 50%;
    margin-left: 10%;
    text-align: start;
   
}
.text-wrapper p{
    width: 30%;
}

#main-wrapper-two{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
   
}
#wrapper-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
#main-main{
    width: 100%;
    display: flex;
    margin-top: 5%;
   
}
#main-two-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.img-one{
    margin: auto;
}
.img-wrapper-two{
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 2%;
}
#main-wrapper-four{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
}
#main-wrapper-four img{
    margin-left: 6%;
    width: 180px;
    cursor: pointer;
}
#maaii-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 5%;
   
}
.main-button button{
    height: 40px;
    border-radius: 20px;
    border: 1px solid ;
    color: white;
    cursor: pointer;
}

/*-------------------------------------------FOTTERRRRRR-----------------*/
footer{
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 100px;
    align-items: center;
}
#footer-wrapper{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
    
}
.footer-clasic{
    display: flex;
    flex-direction: column;
    margin-left: 5%;

}
.footer-clasic a{
    margin-top: 15%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(54, 54, 54);
}
.footer-icons{
    width: 30%;
   
}
.footer-icons img{
    margin-left: 10%;
   
}
.bai-jamjuree-regular {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .main-text{
    width: 50%;
  }
  @media (max-width: 740px) {
    /* მობილურ მოწყობილობებზე */
    #main-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column; /* სვეტებად მოწყობა */
        justify-content: center;
        align-items: center; /* შუაში განლაგება */
        margin-top: 15%;
    }

    #img-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column; /* სვეტებად მოწყობა */
        align-items: center; /* შუაში განლაგება */
        margin-top: 5%;
    }

    .text-wrapper {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column; /* სვეტებად მოწყობა */
        align-items: center; /* შუაში განლაგება */
        margin-top: 20%; /* საკმარისი ადგილი */
    }

    .text-wrapper div {
        width: 100%;
        display: flex;
        justify-content: center; /* შუაში განლაგება */
        flex-direction: column;
        align-items: center;
    }

    .main-img {
        background-image: url(images/image-computer.png);
        width: 270px;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15%;
        display: block;
    }

    #footer-wrapper {
        flex-direction: column; /* სვეტებად მოწყობა */
        align-items: center; /* შუაში განლაგება */
    }
    footer{
        display: flex;
        margin-top: 5%;
        width: 100%;
        height: 100px;
        align-items: center;
        flex-direction: column;
    }
    .header-button {
        display: flex;
        flex-direction: column; /* სვეტებად მოწყობა */
        align-items: center; /* შუაში განლაგება */
    }

    .main-text {
        width: 70%;
    }
    #main-wrapper-four{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 5%;
        align-items: center;
    }
    #main-wrapper-four img{
        margin-top: 5%;
        margin-left: 0%;
        width: 180px;
        cursor: pointer;
    }
    #main-two-two{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    #maaii-wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        margin-top: 5%;
        justify-content: baseline;
       
    }
    #maaii-wrapper h1{
        font-size: 20px;
    }
    .main-button {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .main-button button{
        width: 200px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid ;
        color: white;
        cursor: pointer;
    }
    main {
        min-height: calc(100vh - 250px);
        margin-top: 50%;
    }
    .fotter{
        visibility: hidden;
    }
}
